[submodule "lisp/plugins/nyan-mode"]
	path = lisp/plugins/nyan-mode
	url = git://github.com/TeMPOraL/nyan-mode.git
[submodule "lisp/languages/jade-mode"]
	path = lisp/languages/jade-mode
	url = git://github.com/brianc/jade-mode.git
[submodule "lisp/languages/piglatin-mode"]
	path = lisp/languages/piglatin-mode
	url = https://github.com/cloudera/piglatin-mode.git
[submodule "lisp/languages/cucumber.el"]
	path = lisp/languages/cucumber.el
	url = https://github.com/michaelklishin/cucumber.el.git
