[submodule "plugins/nyan-mode"]
	path = plugins/nyan-mode
	url = git://github.com/TeMPOraL/nyan-mode.git
[submodule "languages/jade-mode"]
	path = languages/jade-mode
	url = git://github.com/brianc/jade-mode.git
